<div class="container single-blog-view">
    <h2 id="blog-title"></h2>
    <p class="blog-meta">By <span id="blog-author"></span> on <span id="blog-timestamp"></span></p>
    <p class="blog-meta">Reads: <span id="blog-read-count"></span> | Reading Time: <span id="blog-reading-time"></span> mins</p>
    <div class="blog-tags" id="blog-tags">Tags: </div>
    <p class="blog-description" id="blog-description"></p>
    <div class="blog-body" id="blog-body"></div>
    <p id="blog-message" class="message"></p>
</div>