<header>
    <nav>
        <div class="container">
            <a href="/" class="logo">Blogging App</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-blog">Create Blog</a></li>
                <li><a href="/my-blogs">My Blogs</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <!-- Add logout link with JS functionality -->
                <li><a href="#" id="logout-btn" style="display: none;">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
